<template>
  <v-container fluid>
    <v-row>
      <Heading :title="$t('about.TITLE')" />
      <Description :description="$t('about.DESCRIPTION')" />
      Image by <a href="https://pixabay.com/users/Francois_Bellay-3621440/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1870748">François Bellay</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1870748">Pixabay</a>
    </v-row>
    <ProjectDescription />
  </v-container>
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: this.$store.getters.appTitle,
        titleTemplate: `${this.$t('about.TITLE')} - %s`,
      };
    },
  };
</script>
