<template>
  <v-content>
    <section>
      <v-parallax
        src="../assets/minecraft-655908-2.png"
        :height="halfScreen"
        style="background-position: 50% 210px !important; "
      >
        <v-row
          justify="center"
        >
          <v-col
            cols="auto"
            align-self="center"
            class=" text-center align"
          >
            <div
              class="mb-2 display-3 text-center font-weight-black"
              style="font-weight: 900;"
            >
              Add points to your account
            </div>
          </v-col>
        </v-row>
      </v-parallax>
    </section>
    <section>
      <v-row
        justify="center"
        class="my-0"
        align="center"
      >
        <v-container
          class="cols sm"
          style="margin-top: -100px; !important; margin-bottom: -100px; !important; z-index: 20;"
        >
          <v-card
            class="grey darken-3"
          >
            <v-col cols="12">
              <v-container>
                <v-row align="center">
                  <v-col
                    cols="12"
                    md="4"
                  >
                    <v-card

                      class="transparent"
                    >
                      <v-img
                        class="white--text align-end d-flex align-center"
                        height="300px"
                        src="../assets/dirt.jpg"
                      >
                        <v-scroll-y-transition>
                          <div
                            class="display-2 flex-grow-1 text-center font-weight-black checkout-points"
                          >
                            Dirt block
                          </div>
                        </v-scroll-y-transition>
                      </v-img>
                      <v-card-title
                        primary-title
                        class="layout justify-center"
                      >
                        <div class="headline text-center">
                          Pay only 2€ for 240 points!
                        </div>
                      </v-card-title>
                      <stripe-checkout
                        ref="checkoutDirtRef"
                        :pk="publishableKey"
                        :items="products.dirt"
                        :success-url="successUrl"
                        :cancel-url="cancelUrl"
                        :client-reference-id="cognitoId"
                      >
                        <template slot="checkout-button">
                          <v-btn
                            block
                            x-large
                            :loading="loading"
                            :disabled="loading"
                            color="primary"
                            @click="checkoutDirt"
                          >
                            Buy 240 points for 2€
                          </v-btn>
                        </template>
                      </stripe-checkout>
                    </v-card>
                  </v-col>
                  <v-col
                    cols="12"
                    md="4"
                  >
                    <v-card

                      class="transparent"
                    >
                      <v-img
                        class="white--text align-end d-flex align-center"
                        height="300px"
                        src="../assets/wood-light.png"
                      >
                        <v-scroll-y-transition>
                          <div
                            class="display-2 flex-grow-1 text-center font-weight-black checkout-points"
                          >
                            Wood block
                          </div>
                        </v-scroll-y-transition>
                      </v-img>
                      <v-card-title
                        primary-title
                        class="layout justify-center"
                      >
                        <div class="headline">
                          Pay only 5€ for 600 points!
                        </div>
                      </v-card-title>
                      <stripe-checkout
                        ref="checkoutWoodRef"
                        :pk="publishableKey"
                        :items="products.wood"
                        :success-url="successUrl"
                        :cancel-url="cancelUrl"
                        :client-reference-id="cognitoId"
                      >
                        <template slot="checkout-button">
                          <v-btn
                            block
                            x-large
                            :loading="loading"
                            :disabled="loading"
                            color="primary"
                            @click="checkoutWood"
                          >
                            Buy 600 points for 5€
                          </v-btn>
                        </template>
                      </stripe-checkout>
                    </v-card>
                  </v-col>
                  <v-col
                    cols="12"
                    md="4"
                  >
                    <v-card

                      class="transparent"
                    >
                      <v-img
                        class="white--text  align-end d-flex align-center"
                        height="300px"
                        src="../assets/cobble.png"
                      >
                        <v-scroll-y-transition>
                          <div
                            class="display-2 flex-grow-1 text-center font-weight-black checkout-points"
                          >
                            Cobble block
                          </div>
                        </v-scroll-y-transition>
                      </v-img>
                      <v-card-title
                        primary-title
                        class="layout justify-center"
                      >
                        <div class="headline text-center">
                          Pay only 10€ for 1200 points!
                        </div>
                      </v-card-title>
                      <stripe-checkout
                        ref="checkoutStoneRef"
                        :pk="publishableKey"
                        :items="products.stone"
                        :success-url="successUrl"
                        :cancel-url="cancelUrl"
                        :client-reference-id="cognitoId"
                      >
                        <template slot="checkout-button">
                          <v-btn
                            block
                            x-large
                            :loading="loading"
                            :disabled="loading"
                            color="primary"
                            @click="checkoutStone"
                          >
                            Buy 1200 points for 10€
                          </v-btn>
                        </template>
                      </stripe-checkout>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-card>
        </v-container>
      </v-row>
    </section>
    <section>
      <v-parallax
        src="../assets/minecraft-655908-3.png"
        :height="halfScreen"
      >
        <v-row
          justify="center"
        >
          <v-col
            cols="auto"
            align-self="center"
            class=" text-center align"
          >
            <div
              class="mb-2 display-3 text-center font-weight-black"
              style="font-weight: 900;"
            >
              Use points to run your server
            </div>
          </v-col>
        </v-row>
      </v-parallax>
    </section>
    <section>
      <v-container>
        <v-row
          justify="center"
          class="my-0"
          align="center"
        >
          <v-container
            class="cols sm"
            style="margin-top: -100px; !important;"
          >
            <v-card
              class="grey darken-2"
            >
              <v-col cols="12">
                <v-container>
                  <v-row align="center">
                    <v-col
                      cols="12"
                      md="4"
                    >
                      <v-card

                        class="transparent"
                      >
                        <v-img
                          class="white--text align-end d-flex align-center"
                          height="300px"
                          src="../assets/steel.png"
                        >
                          <v-scroll-y-transition>
                            <div
                              class="display-2 flex-grow-1 text-center font-weight-black checkout-points"
                            >
                              Steel block
                            </div>
                          </v-scroll-y-transition>
                        </v-img>
                        <v-card-title
                          primary-title
                          class="layout justify-center"
                        >
                          <div class="headline text-center">
                            Pay only 15€ for 1800 points!
                          </div>
                        </v-card-title>
                        <stripe-checkout
                          ref="checkoutSteelRef"
                          :pk="publishableKey"
                          :items="products.steel"
                          :success-url="successUrl"
                          :cancel-url="cancelUrl"
                          :client-reference-id="cognitoId"
                        >
                          <template slot="checkout-button">
                            <v-btn
                              block
                              x-large
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="checkoutSteel"
                            >
                              Buy 1800 points for 15€
                            </v-btn>
                          </template>
                        </stripe-checkout>
                      </v-card>
                    </v-col>
                    <v-col
                      cols="12"
                      md="4"
                    >
                      <v-card

                        class="transparent"
                      >
                        <v-img
                          class="white--text align-end d-flex align-center"
                          height="300px"
                          src="../assets/gold.png"
                        >
                          <v-scroll-y-transition>
                            <div
                              class="display-2 flex-grow-1 text-center font-weight-black checkout-points"
                            >
                              Gold block
                            </div>
                          </v-scroll-y-transition>
                        </v-img>
                        <v-card-title
                          primary-title
                          class="layout justify-center"
                        >
                          <div class="headline">
                            Pay only 20€ for 2400 points!
                          </div>
                        </v-card-title>
                        <stripe-checkout
                          ref="checkoutGoldRef"
                          :pk="publishableKey"
                          :items="products.gold"
                          :success-url="successUrl"
                          :cancel-url="cancelUrl"
                          :client-reference-id="cognitoId"
                        >
                          <template slot="checkout-button">
                            <v-btn
                              block
                              x-large
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="checkoutGold"
                            >
                              Buy 2400 points for 20€
                            </v-btn>
                          </template>
                        </stripe-checkout>
                      </v-card>
                    </v-col>
                    <v-col
                      cols="12"
                      md="4"
                    >
                      <v-card

                        class="transparent"
                      >
                        <v-img
                          class="white--text  align-end d-flex align-center"
                          height="300px"
                          src="../assets/diamond.png"
                        >
                          <v-scroll-y-transition>
                            <div
                              class="display-2 flex-grow-1 text-center font-weight-black checkout-points"
                            >
                              Diamond block
                            </div>
                          </v-scroll-y-transition>
                        </v-img>
                        <v-card-title
                          primary-title
                          class="layout justify-center"
                        >
                          <div class="headline text-center">
                            Pay only 30€ for 3600 points!
                          </div>
                        </v-card-title>
                        <stripe-checkout
                          ref="checkoutDiamondRef"
                          :pk="publishableKey"
                          :items="products.diamond"
                          :success-url="successUrl"
                          :cancel-url="cancelUrl"
                          :client-reference-id="cognitoId"
                        >
                          <template slot="checkout-button">
                            <v-btn
                              block
                              x-large
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="checkoutDiamond"
                            >
                              Buy 3600 points for 30€
                            </v-btn>
                          </template>
                        </stripe-checkout>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-card>
          </v-container>
        </v-row>
      </v-container>
    </section>
    <section>
      <v-parallax
        src="../assets/minecraft-655908-4.png"
        :height="halfScreen"
      >
        <v-row
          justify="center"
        >
          <v-col
            cols="auto"
            align-self="center"
            class=" text-center align"
          >
            <div
              class="mb-2 display-3 text-center font-weight-black"
              style="font-weight: 900;"
            />
          </v-col>
        </v-row>
      </v-parallax>
    </section>
  </v-content>
</template>

<script>
  import { StripeCheckout } from 'vue-stripe-checkout';
  import { store } from '@/store';

  export default {
    components: {
      StripeCheckout,
    },
    data: () => ({
      halfScreen: window.outerHeight / 3,
      cards: [
        { title: 'Pre-fab homes', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 12 },
        { title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', flex: 6 },
        { title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 6 },
      ],
      loading: false,
      amount: 1000,
      publishableKey: process.env.VUE_APP_PUBLISHABLE_KEY,
      products: {
        dirt: [
          {
            sku: 'sku_HrbNLWdQa5XD8r',
            quantity: 1,
          },
        ],
        wood: [
          {
            sku: 'sku_HrbP91uLYOnLRr',
            quantity: 1,
          },
        ],
        stone: [
          {
            sku: 'sku_HrbRfqcyGLPiI9',
            quantity: 1,
          },
        ],
        steel: [
          {
            sku: 'sku_HrbTyTKeLZssK2',
            quantity: 1,
          },
        ],
        gold: [
          {
            sku: 'sku_HrbUxYZVhegYBL',
            quantity: 1,
          },
        ],
        diamond: [
          {
            sku: 'sku_HrbVZI7xkxQ4kE',
            quantity: 1,
          },
        ],
      },
      successUrl: `${process.env.VUE_APP_WEB_URL}/paysuccess`,
      cancelUrl: `${process.env.VUE_APP_WEB_URL}/payfail`,
      cognitoId: store.getters['cognito/userSub'],
    }),
    mounted() {
      console.log(process.env.VUE_APP_ENV);
      if (process.env.VUE_APP_ENV === 'prod') {
        this.setProductionProductsActive();
      }
    },
    methods: {
      checkoutDirt() {
        this.$refs.checkoutDirtRef.redirectToCheckout();
      },
      checkoutWood() {
        this.$refs.checkoutWoodRef.redirectToCheckout();
      },
      checkoutStone() {
        this.$refs.checkoutStoneRef.redirectToCheckout();
      },
      checkoutSteel() {
        this.$refs.checkoutSteelRef.redirectToCheckout();
      },
      checkoutGold() {
        this.$refs.checkoutGoldRef.redirectToCheckout();
      },
      checkoutDiamond() {
        this.$refs.checkoutDiamondRef.redirectToCheckout();
      },
      setProductionProductsActive() {
        console.log('setting production products active');
        this.products = {
          dirt: [
            {
              sku: 'sku_IVGQHKcEKOgHBu',
              quantity: 1,
            },
          ],
          wood: [
            {
              sku: 'sku_ITq41CDmG697XH',
              quantity: 1,
            },
          ],
          stone: [
            {
              sku: 'sku_ITq46Zavu438oZ',
              quantity: 1,
            },
          ],
          steel: [
            {
              sku: 'sku_ITq43TfJqd3W9E',
              quantity: 1,
            },
          ],
          gold: [
            {
              sku: 'sku_ITq4IphIEDS8Q5',
              quantity: 1,
            },
          ],
          diamond: [
            {
              sku: 'sku_ITq40vAsLM6PLU',
              quantity: 1,
            },
          ],
        };
      },
    },
  };
</script>

<style>
.checkout-points {
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
</style>
