<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <v-form @submit.prevent="submit">
          <v-container>
            <v-row>
              <v-text-field
                id="verificationCode"
                v-model="verificationCode"
                v-validate.disable="'required|numeric'"
                name="verificationCode"
                type="number"
                :label="$t('confirmUser.CODE')"
                :data-vv-as="$t('confirmUser.CODE')"
                autocomplete="off"
                class="px-3"
                :error="errors.has('verificationCode')"
                :error-messages="errors.collect('verificationCode')"
              />
            </v-row>
            <v-row>
              <v-col
                cols="12"
                lg="6"
              >
                <SubmitButton
                  color="primary"
                  :text="$t('confirmUser.SUBMIT')"
                />
              </v-col>
              <v-col
                cols="12"
                lg="6"
              >
                <v-btn
                  color="accent"
                  block
                  @click="resendCode"
                >
                  {{ $t('confirmUser.RESEND_CODE') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <ErrorMessage/>
        <SuccessMessage/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import profileApi from '../services/api/profile';

    export default {
        name: 'ConfirmUser',
        data() {
            return {
                verificationCode: '',
            };
        },
        computed: {
            ...mapGetters(['loginUsername']),
            ...mapGetters('cognito', ['username']),
            userForVerification() {
                return this.username || this.loginUsername;
            },
        },
        methods: {
            ...mapActions(['userVerification', 'userResendCode']),
            async submit() {
                const valid = await this.$validator.validateAll();
                if (valid) {
                    try {
                        await this.userVerification({
                            username: this.userForVerification,
                            code: this.verificationCode,
                        });
                    } catch (e) {
                    }
                }
            },
            async resendCode() {
                if (this.userForVerification) {
                    try {
                        await this.userResendCode({
                            username: this.userForVerification,
                        });
                    } catch (e) {
                    }
                }
            },
        },
    };
</script>
<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>
