<template>
  <v-container>
        <v-form @submit.prevent="submit">
            <v-row>
              <v-text-field
                id="email"
                v-model="email"
                v-validate.disable="'required|email'"
                name="email"
                type="email"
                :label="$t('signup.EMAIL')"
                :data-vv-as="$t('signup.EMAIL')"
                :error="errors.has('email')"
                :error-messages="errors.collect('email')"
                autocomplete="on"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="password"
                ref="password"
                v-model="password"
                v-validate.disable="'required|min:8|lowerCase|upperCase|number|special'"
                name="password"
                type="password"
                :label="$t('signup.PASSWORD')"
                :data-vv-as="$t('signup.PASSWORD')"
                :error="errors.has('password')"
                :error-messages="errors.collect('password')"
                autocomplete="off"
              />
            </v-row>
            <v-row
              class="text-center mt-5"
            >
              <SubmitButton  :text="$t('signup.SIGN_ME_UP')" class="btn btn-white btn-animate"/>
            </v-row>
        </v-form>
      <ErrorMessage/>
  </v-container>
</template>

<style>
.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #000;
  color: #777;
  width: 90%;
  margin: auto;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #000;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

</style>

<script>
    import router from '@/router';
    import {
        mapActions,
    } from 'vuex';

    export default {
      name: "EzSignUp",
        metaInfo() {
            return {
                title: this.$store.getters.appTitle,
                titleTemplate: `${this.$t('signup.TITLE')} - %s`,
            };
        },
        data() {
            return {
                firstname: '',
                lastname: '',
                email: '',
                password: '',
                confirmPassword: '',
                terms: '',
            };
        },
        methods: {
            ...mapActions(['userSignUp']),
            async submit() {
                const valid = await this.$validator.validateAll();
                if (valid) {
                    try {
                        await this.userSignUp({
                            username: this.email,
                            password: this.password,
                            attributes: {
                                email: this.email,
                            },
                        });
                    } catch (error) {
                        console.log(error);
                    }
                }
            },
        },
        created() {
            if (this.$store.state.auth.isUserLoggedIn) {
                router.push({
                    name: 'games',
                });
            }
            this.$validator.extend('upperCase', {
                getMessage: (field) => `The ${field} field must contain at least one uppercase character`,
                validate: (value) => value.match(/[A-Z]/g) !== null,
            });
            this.$validator.extend('number', {
                getMessage: (field) => `The ${field} field must contain at least one number`,
                validate: (value) => value.match(/[0-9]/g) !== null,
            });
            this.$validator.extend('lowerCase', {
                getMessage: (field) => `The ${field} field must contain at least one lowercase character`,
                validate: (value) => value.match(/[a-z]/g) !== null,
            });
            this.$validator.extend('special', {
                getMessage: (field) => `The ${field} field must contain at least one special character`,
                validate: (value) => value.match(/[\^$*.[\]{}()?\-"!@#%&/\\,><':;|_~`]/g) !== null,
            });
        },
    };
</script>
