<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <Heading :title="$t('forgotPassword.TITLE')" />
        <Description :description="$t('forgotPassword.DESCRIPTION')" />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col
        cols="12"
        sm="6"
      >
        <form @submit.prevent="submit">
          <v-container>
            <v-row>
              <v-text-field
                id="email"
                v-model="email"
                v-validate.disable="'required|email'"
                name="email"
                type="email"
                :label="$t('forgotPassword.EMAIL')"
                :data-vv-as="$t('forgotPassword.EMAIL')"
                :error="errors.has('email')"
                :error-messages="errors.collect('email')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <v-col
                cols="12"
                lg="6"
              >
                <SubmitButton :text="$t('forgotPassword.RECOVER')" />
              </v-col>
              <v-col
                cols="12"
                lg="6"
              >
                <v-btn
                  :to="{ name: 'resetPassword' }"
                  color="accent"
                  block
                >
                  {{ $t('forgotPassword.ALREADY_HAVE_CODE') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </form>
      </v-col>
      <ErrorMessage />
      <SuccessMessage />
    </v-row>
  </v-container>
</template>

<script>
  import router from '@/router';
  import {
    mapActions,
  } from 'vuex';

  export default {
    metaInfo() {
      return {
        title: this.$store.getters.appTitle,
        titleTemplate: `${this.$t('forgotPassword.TITLE')} - %s`,
      };
    },
    data() {
      return {
        email: '',
      };
    },
    methods: {
      ...mapActions(['forgotPassword']),
      async submit() {
        const valid = await this.$validator.validateAll();
        if (valid) {
          try {
            await this.forgotPassword({
              username: this.email,
            });
          } catch (error) {
            console.log(error);
          }
        }
      },
      goBack() {
        router.go(-1);
      },
    },
    created() {
      if (this.$store.state.auth.isUserLoggedIn) {
        router.push({
          name: 'games',
        });
      }
    },
  };
</script>
