<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col
        v-for="(game, gameKey) in games"
        :key="gameKey+'-row'"
        cols="auto"
      >
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :key="gameKey+'-card'"
              class="my-1"
              :width="imgWidth"
              :height="imgHeight"
              @click="openConfig(gameKey, game)"
            >
              <v-img
                :width="imgWidth"
                :height="imgHeight"
                :src="game.thumbnail"
              />
              <v-fade-transition>
                <v-overlay
                  v-if="hover"
                  absolute
                  dark
                  color="#FFFFFF"
                  opacity="0.3"
                >
                  <v-btn>
                    Start server
                  </v-btn>
                </v-overlay>
              </v-fade-transition>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>
    <v-dialog
      v-model="showDialog"
      eager
      max-width="1200"
      transition="dialog-bottom-transition"
      @click:outside="closeDialog()"
    >
      <game-config
        :config="activeConfig"
        :game-abbreviation="activeAbbreviation"
        :game-key="activeGameKey"
      />
    </v-dialog>
    <v-snackbar
      v-model="snackbar"
      :timeout="7000"
      :value="true"
      top
      centered
      shaped
      color="success"
      elevation="24"
    >
      <div class="display-1 font-weight-black text-center text-uppercase">
        Welcome to Gamehostz, here's {{ receivedPoints }} free points to get started.
      </div>
    </v-snackbar>
  </v-container>
</template>

<script>
  import api from '../services/api/game';
  import profileApi from '../services/api/profile';
  import GameConfig from './GameConfig';
  import confetti from 'canvas-confetti';

  export default {
    name: 'Games',
    components: { GameConfig },
    data() {
      return {
        games: [],
        activeConfig: null,
        activeGameKey: null,
        activeAbbreviation: null,
        showDialog: false,
        imgWidth: '616px',
        imgHeight: '353px',
        receivedPoints: 150,
        snackbar: false,
        defaults: {
          origin: { y: 0.7 },
        },
        count: 2000,
      };
    },
    computed: {

    },
    mounted() {
      this.customer();
      api.getGameConfigs().then((response) => {
        this.games = response.data;
      });
    },
    methods: {
      fire(particleRatio, opts) {
        confetti(Object.assign({}, this.defaults, opts, {
          particleCount: Math.floor(this.count * particleRatio),
        }));
      },
      closeDialog() {
        this.showDialog = false;
      },
      customer() {
        profileApi.createCustomer().then((response) => {
          console.log(response.data);
          if (response.data.newCustomer) {
            console.log('Successful Customer creation');
            this.receivedPoints = response.data.pointsAdded;
            this.snackbar = true;
            this.fire(0.25, {
              spread: 26,
              startVelocity: 55,
            });
            this.fire(0.2, {
              spread: 60,
            });
            this.fire(0.35, {
              spread: 100,
              decay: 0.91,
              scalar: 0.8,
            });
            this.fire(0.1, {
              spread: 120,
              startVelocity: 25,
              decay: 0.92,
              scalar: 1.2,
            });
            this.fire(0.1, {
              spread: 120,
              startVelocity: 45,
            });
          }
        });
      },
      openConfig(gameKey, game) {
        this.showDialog = true;
        this.activeGameKey = gameKey;
        this.activeAbbreviation = game.abbreviation;
        this.activeConfig = game.config;
        console.log(gameKey, game);
      },
    },
  };
</script>
