<template>
  <v-card>
    <v-form>
      <span
        v-for="(type, i) in config"
        :key="`${gameAbbreviation}-${type.name}-${i}-row`"
      >
        <v-container>
          <v-row
            v-for="(setting, j) in type.settings"
            :key="`${setting.name}-${j}-row`"
            justify="center"
            class="my-5"
          >
            <v-col
              class="justify align"
              cols="12"
              sm="2"
            ><h3 justify="center">{{ setting.display }}</h3>
            </v-col>
            <v-col>
              <!-- TODO Fix clicking on the icon to close -->
              <v-overflow-btn
                v-if="setting.type === 'enum'"
                v-model="configFormModel[type.name][setting.name]"
                :items="setting.allowedValues"
                :hint="setting.description"
                persistent-hint
                :label="setting.display"
              />
              <v-switch
                v-else-if="setting.type === 'boolean'"
                v-model="configFormModel[type.name][setting.name]"
                :label="setting.display"
                :hint="setting.description"
                persistent-hint
              />
              <v-slider
                v-else-if="setting.type === 'range'"
                v-model="configFormModel[type.name][setting.name]"
                :label="setting.display"
                :hint="setting.description"
                :max="setting.maxValue"
                :min="setting.minValue"
                persistent-hint
                thumb-label="always"
                dark
                :thumb-size="24"
              />
              <v-text-field
                v-else
                v-model="configFormModel[type.name][setting.name]"
                :label="setting.display"
                :hint="setting.description"
                persistent-hint
              />
            </v-col>
          </v-row>
        </v-container>
      </span>

      <ServerPrice
          :config="this.configFormModel"
          :game-name="this.gameAbbreviation"
      ></ServerPrice>

      <v-container>
        <v-row justify="center">
          <v-btn
            block
            color="primary"
            :loading="loading"
            @click="startServer"
          >
            {{ $t('gameConfig.START_SERVER') }}
          </v-btn>
        </v-row>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
  import game from '../services/api/game';
  import ServerPrice from "@/components/game/ServerPrice";

  export default {
    name: 'GameConfig',
    components: {ServerPrice},
    props: {
      config: {
        type: Array,
        default() {
          return [];
        },
      },
      gameAbbreviation: {
        type: String,
        default() {
          return {};
        },
      },
      gameKey: {
        type: String,
        default() {
          return {};
        },
      },
    },
    data() {
      return {
        dialog: false,
        configFormModel: {},
        loading: false,
        playerAmount: 1,
        interval: {}
      };
    },
    watch: {
      config(newConfig) {
        console.log('config watcher in GameConfig');
        if (newConfig !== null) {
          newConfig.forEach((type, i) => {
            const typeSettings = {};
            type.settings.forEach((setting) => {
              typeSettings[setting.name] = setting.defaultValue;
            });
            this.configFormModel[type.name] = typeSettings;
          });
        } else {
          this.configFormModel = {};
        }
      },
    },
    created() {
      // hack to bind configFormModel when modal is opened
      this.interval = setInterval(this.updateConfig, 2000);
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    methods: {
      updateConfig() {
        this.configFormModel = {
          ...this.configFormModel
        };
      },
      startServer() {
        this.loading = true;
        const result = {
          settings: [],
        };
        for (const typeName in this.configFormModel) {
          if (this.configFormModel.hasOwnProperty(typeName)) {
            for (const settingName in this.configFormModel[typeName]) {
              if (this.configFormModel[typeName].hasOwnProperty(settingName)) {
                result.settings.push({
                  name: settingName,
                  value: this.configFormModel[typeName][settingName],
                });
              }
            }
          }
        }
        console.log(result);
        // TODO for region selection ... Region goes here
        game.startServer(this.gameAbbreviation, 'ams3', result).then((response) => {
          this.loading = false;
          this.$router.push(`panel/${response.data.serverId}`);
        }).catch((e) => {
          console.log(e);
          this.loading = false;
        });
      },
    },
  };
</script>

<style scoped>

</style>
