<template>
  <v-content>
    <section>
    </section>
      <CallToAction style="margin-top: -60px; padding-top: 60px"></CallToAction>
    <section>
      <HowItWorks></HowItWorks>
    </section>
    <section>
      <AfterPlaying></AfterPlaying>
    </section>
  </v-content>
</template>


<script>

import Footer from "./core/Footer";
import HowItWorks from "@/components/parts/HowItWorks";
import CallToAction from "@/components/parts/CallToAction";
import AfterPlaying from "@/components/parts/AfterPlaying";

export default {
  components: {AfterPlaying, CallToAction, HowItWorks, Footer},
};
</script>


