<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <Heading :title="$t('login.TITLE')" />
        <FacebookButton></FacebookButton>

      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <v-form @submit.prevent="submit">
          <v-container>
            <v-row>
              <v-text-field
                id="email"
                v-model="email"
                v-validate.disable="'required|email'"
                name="email"
                type="email"
                :label="$t('login.EMAIL')"
                :data-vv-as="$t('login.EMAIL')"
                :error="errors.has('email')"
                :error-messages="errors.collect('email')"
                autocomplete="off"
                class="px-3"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="password"
                v-model="password"
                v-validate.disable="'required|min:5'"
                name="password"
                type="password"
                :label="$t('login.PASSWORD')"
                :data-vv-as="$t('login.PASSWORD')"
                :error="errors.has('password')"
                :error-messages="errors.collect('password')"
                autocomplete="off"
                class="px-3"
              />
            </v-row>
            <v-row>
              <v-col
                cols="12"
                lg="6"
              >
                <SubmitButton
                  color="primary"
                  :text="$t('login.LOGIN')"
                />
              </v-col>
              <v-col
                cols="12"
                lg="6"
              >
                <v-btn
                  :to="{ name: 'forgotPassword' }"
                  color="accent"
                  block
                >
                  {{ $t('login.FORGOT_PASSWORD') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-col>
      <ErrorMessage />
    </v-row>
  </v-container>
</template>

<script>
  import router from '@/router';
  import { mapActions } from 'vuex';
  import FacebookButton from "@/components/parts/FacebookButton";


  export default {
    components: {FacebookButton},
    metaInfo() {
      return {
        title: this.$store.getters.appTitle,
        titleTemplate: `${this.$t('login.TITLE')} - %s`,
      };
    },
    data() {
      return {
        email: '',
        password: '',
      };
    },
    methods: {
      ...mapActions(['userLogin']),
      async submit() {
        const valid = await this.$validator.validateAll();
        if (valid) {
          try {
            const user = await this.userLogin({
              username: this.email,
              password: this.password,
            });
            console.log(user)
          } catch (error) {
            console.log(error);
          }
        }
      },
    },
    created() {
      if (this.$store.state.auth.isUserLoggedIn) {
        router.push({
          name: 'games',
        });
      }
    },
  };
</script>
