<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        sm="10"
      >
        <v-card>
          <v-img
            src="/surv.jpg"
            height="150px"
          />
          <loading-bar
            :progress="progress"
            :time-remaining="timeRemaining"
          />
          <next-billing :server-price="serverPrice" />
          <v-card-title primary-title>
            <div>
              <!--              <div class="headline">-->
              <!--                Game Control Panel-->
              <!--              </div>-->
              <span
                v-if="serverIPWithPort === ''"
                class="grey--text"
              >
                Waiting for IP
              </span>
            </div>
          </v-card-title>
          <div class="container">
            <v-row>
              <v-col cols="2">
                <v-subheader>Server IP</v-subheader>
              </v-col>
              <v-col cols="10">
                <v-text-field
                  v-model="serverIPWithPort"
                  readonly
                  solo
                  label="Server IP"
                  type="text"
                  :loading="serverIPWithPort === ''"
                >
                  <template v-slot:append-outer>
                    <v-icon
                      style="cursor: pointer"
                      @click="doCopy(serverIPWithPort)"
                    >
                      file_copy
                    </v-icon>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <!-- TODO currently panel copiable url not needed right -->
            <!-- <v-row>-->
            <!--   <v-col cols="2">-->
            <!--     <v-subheader>Panel URL</v-subheader>-->
            <!--   </v-col>-->
            <!--   <v-col cols="10">-->
            <!--     <v-text-field-->
            <!--       v-model="url"-->
            <!--       readonly-->
            <!--       solo-->
            <!--       label="GamePanel URL"-->
            <!--       type="text"-->
            <!--     >-->
            <!--       <template v-slot:append-outer>-->
            <!--         <v-icon-->
            <!--           style="cursor: pointer"-->
            <!--           @click="doCopy(url)"-->
            <!--         >-->
            <!--           file_copy-->
            <!--         </v-icon>-->
            <!--       </template>-->
            <!--     </v-text-field>-->
            <!--   </v-col>-->
            <!-- </v-row>-->
            <v-row>
              <v-col>
                <!-- TODO add yes/no modal for server stop-->
                <!-- TODO add btn disabled condition that server can't be stopped before fully started -->
                <v-btn
                  block
                  color="warning"
                  :disabled="serverId === null || stopServerStarted === true"
                  @click="stopServer"
                >
                  Stop Server
                </v-btn>
              </v-col>
            </v-row>
            <v-col>
              <v-row>
                <v-col>
                  <span class="headline">Status</span>
                </v-col>
              </v-row>
              <v-progress-circular
                v-if="status === null"
                color="primary"
                indeterminate
              />
              <v-row
                v-for="(statusVal, statusKey) in status"
                :key="statusKey"
                dense
                class="body-2"
              >
                <v-col cols="2">
                  {{ statusKey }}:
                </v-col>
                <v-col cols="10">
                  {{ statusVal }}
                </v-col>
              </v-row>
            </v-col>
            <server-debugging
              v-if="admin"
              :socket="socket"
            />
            <v-row>
              <v-col>
                <v-text-field
                  v-model="customCommand"
                  type="text"
                  name="command"
                  label="Command"
                  @keyup.enter="command(customCommand)"
                >
                  <template v-slot:append>
                    <v-btn
                      color="primary"
                      @click="command(customCommand)"
                    >
                      Send
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <span class="headline">Console</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-progress-circular
                  v-if="consoleLog === null || consoleLog === ''"
                  color="primary"
                  indeterminate
                />
                <v-textarea
                  v-model="consoleLog"
                  readonly
                  no-resize
                  rows="25"
                  dense
                  class="body-2"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-progress-circular
                  v-if="!this.connected"
                  color="primary"
                  indeterminate
                />
                <iframe
                  v-if="this.connected"
                  src="http://localhost:8888"
                  style="width: 100%; height: 1000px;"
                />
              </v-col>
            </v-row>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar"
    >
      {{ snackbarMessage }}
      <v-btn
        color="primary"
        text
        timout="3000"
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import io from 'socket.io-client';
  import { CONSOLE_EVENT, DATA, MESSAGE_EVENT, SHUTDOWN, SHUTDOWN_TIMER, STATUS_EVENT } from '../utils/socketMessageTypes';
  import ServerDebugging from '@/components/game/ServerDebugging';
  import LoadingBar from '@/components/game/LoadingBar';
  import NextBilling from '@/components/game/NextBilling';
  import game from '../services/api/game';
  import saveGames from "@/services/api/saveGames";

  export default {
    components: { NextBilling, LoadingBar, ServerDebugging },
    metaInfo() {
      return {
        title: this.$store.getters.appTitle,
        titleTemplate: `${this.$t('panel.TITLE')} - %s`,
      };
    },
    data() {
      return {
        connected: false,
        loader: null,
        loading: false,
        url: window.location.href,
        socket: null,
        consoleLog: '',
        customCommand: '',
        status: null,
        snackbar: false,
        snackbarMessage: null,
        isDev: process.env.NODE_ENV !== 'production',
        messageEvents: '',
        progress: 0,
        timeRemaining: 0,
        interval: null,
        shuttingDownMessage: false,
        stopServerStarted: false,
      };
    },
    computed: {
      ...mapGetters(['panel', 'user']),
      admin() {
        return this.user !== null ? this.user.role === 'admin' : false;
      },
      serverIPWithPort() {
        return this.panel.serverIPWithPort;
      },
      serverIP() {
        return this.panel.serverIP;
      },
      serverId() {
        return this.panel.serverId;
      },
      gameAbbreviation() {
        return this.panel.gameAbbreviation;
      },
      serverStartedAt() {
        return this.panel.serverStartedAt;
      },
      secondsToStart() {
        return this.panel.secondsToStart;
      },
      serverPrice() {
        return this.panel.serverPrice;
      },
    },
    beforeDestroy() {
      if (this.socket) {
        this.socket.close();
      }
    },
    async mounted() {
      await this.socketConnection();
      this.interval = setInterval(this.updateProgress, 2000);
    },
    methods: {
      ...mapActions(['getPanel', 'resetPanel']),

      updateProgress() {
        let currentTime = new Date();
        currentTime = Math.round(currentTime.getTime() / 1000);
        let startedAt = new Date(this.serverStartedAt.epochSecond);
        startedAt = startedAt.getTime();

        const timeElapsed = currentTime - startedAt;
        this.timeRemaining = this.secondsToStart - (currentTime - startedAt);
        this.progress = timeElapsed * 100 / this.secondsToStart;
        if (this.progress > 100) {
          this.progress = 100;
          this.timeRemaining = 0;
          clearInterval(this.interval);
        }
      },

      async socketConnection() {
        console.log(this.$route.params);
        try {
          await this.getPanel(this.$route.params.serverId);
        } catch {
        // await this.$router.push('/games');
        }
        this.socket = io(process.env.VUE_APP_NODE_PROXY_URL, { query: `serverId=${this.serverId}&userId=${this.$store.getters['cognito/userSub']}` });
        this.socket.on('connect', () => {
          console.log('connected');
        });
        this.socket.on(DATA, (msg) => {
          this.connected = true; // First message received from SM (not just proxy connection)
          console.log('DATA', msg);
          switch (msg.type) {
            case CONSOLE_EVENT:
              this.consoleLog = `${msg.data}\n${this.consoleLog}`;
              break;
            case STATUS_EVENT:
              if (msg.data === 'offline') {
                this.status = { 'Game Server': msg.data };
              } else {
                this.status = msg.data;
              }
              break;
            case MESSAGE_EVENT:
              this.shuttingDownMessage = true;
              console.log('MESSAGE_EVENT', msg);
              console.log(`Server shutting down in ${Math.ceil((msg.data.value - new Date().getTime()) / 1000)} seconds`);
              this.messageEvents = `${msg.data.type}: ${msg.data.value}, ${msg.data.message}\n${this.messageEvents}`;
              switch (msg.data.type) {
                case SHUTDOWN_TIMER:
                  console.log(SHUTDOWN_TIMER);
                  // msg.data.value is atm close time in unix
                  break;
                case SHUTDOWN:
                  console.log(SHUTDOWN);
                  // msg.data.value has no data
                  this.$router.push('/games');
                  break;
                default:
                  console.log(msg.data.type);
              }
              break;
            default:
              console.log('default event');
          }
        });
        this.socket.on('disconnect', () => {
          console.log('disconnect');
          this.connected = false;
        });
      },

      doCopy(input) {
        this.$copyText(input).then(
          () => {
            this.snackbar = true;
            this.snackbarMessage = 'Copied to clipboard';
          },
          () => {
            this.snackbar = true;
            this.snackbarMessage = 'Can not copy';
          },
        );
      },

      command() {
        this.socket.emit('action', { cmd: this.customCommand });
        this.customCommand = null;
      },

      async stopServer() {
        await this.$dialog.confirm({
          title: 'Stop server',
          text: 'Stop server?',
          type: 'warning',
          actions: {
            true: {
              text: 'Yes',
              color: 'warning',
              handle: this.handleStop
            },
            false: 'No',
          }
        });
      },
      async handleStop() {
        if (this.serverId) {
          this.stopServerStarted = true;
          this.socket.emit('action', {cmd: 'kill'});
          await this.timeout(1000);
          if (this.shuttingDownMessage === false) {
            await game.stopServer(this.serverId);
            await this.$router.push(`/games`);
          }
        }
      },
      timeout(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      },
    },
  };
</script>

<style>

</style>
