<template>
  <v-content>
    <section>
      <v-parallax
        src="../assets/minecraft-655908.png"
        :height="halfScreen"
        style="background-position: 50% 210px !important; "
      >
        <v-row
          justify="center"
        >
          <v-col
            cols="auto"
            align-self="center"
            class=" text-center align"
          >

            <div class="mb-2 display-3 text-xs-center font-weight-black" style="font-weight: 900; color: #fffc70;">
              Thank you for your purchase!
            </div>
          </v-col>
        </v-row>
      </v-parallax>
    </section>
    <section>
      <v-row
        justify="center"
        class="my-0"
        align="center"
      >
        <v-container
          cols="auto"
          sm="8"
          style="margin-top: -100px; !important;  !important; z-index: 400;"
        >
          <v-card
            class="grey darken-3"
          >
            <v-col cols="12">
              <v-container>
                <v-row align="center"
                       justify="center">
                  <v-col
                    cols="12"
                    md="12"
                    align-self="center"
                    class=" text-center align"
                  >


                          <div
                            class="display-2 flex-grow-1 text-center font-weight-black checkout-points text-center align"
                            style="height: 200px"

                          >
                            Points successfully added to your account
                          </div>

                      <v-card-title
                        primary-title
                        class="layout justify-center"
                      >
                      </v-card-title>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-card>
        </v-container>
      </v-row>
    </section>
  </v-content>
</template>

<script>
    import {StripeCheckout} from 'vue-stripe-checkout';

    export default {
        components: {
            StripeCheckout
        },
        data: () => ({
            halfScreen: window.outerHeight / 3,
        })
    };
</script>

<style>
  .checkout-points {
    color: #fffc70;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  }
</style>
