<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <Heading :title="$t('resetPassword.TITLE')" />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col
        cols="12"
        sm="6"
      >
        <form @submit.prevent="submit">
          <v-container>
            <v-row>
              <v-text-field
                id="email"
                v-model="username"
                v-validate.disable="'required|email'"
                name="email"
                type="email"
                :label="$t('login.EMAIL')"
                :data-vv-as="$t('login.EMAIL')"
                :error="errors.has('email')"
                :error-messages="errors.collect('email')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="code"
                ref="code"
                v-model="code"
                name="code"
                type="number"
                :label="$t('resetPassword.CODE')"
                :data-vv-as="$t('resetPassword.CODE')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="password"
                ref="password"
                v-model="password"
                v-validate.disable="'required|min:5'"
                name="password"
                type="password"
                :label="$t('resetPassword.PASSWORD')"
                :data-vv-as="$t('resetPassword.PASSWORD')"
                :error="errors.has('password')"
                :error-messages="errors.collect('password')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="confirmPassword"
                v-model="confirmPassword"
                v-validate.disable="'required|min:5|confirmed:password'"
                name="confirmPassword"
                type="password"
                :label="$t('resetPassword.CONFIRM_PASSWORD')"
                :data-vv-as="$t('resetPassword.PASSWORD')"
                :error="errors.has('confirmPassword')"
                :error-messages="errors.collect('confirmPassword')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <SubmitButton :text="$t('resetPassword.CHANGE_PASSWORD')" />
            </v-row>
          </v-container>
        </form>
        <ErrorMessage />
        <SuccessMessage />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import router from '@/router';
  import { mapActions, mapGetters } from 'vuex';

  export default {
    metaInfo() {
      return {
        title: this.$store.getters.appTitle,
        titleTemplate: `${this.$t('resetPassword.TITLE')} - %s`,
      };
    },
    data() {
      return {
        code: '',
        password: '',
        confirmPassword: '',
        username: '',
      };
    },
    computed: {
      ...mapGetters(['resetUsername']),
    },
    created() {
      if (this.$store.state.auth.isUserLoggedIn) {
        router.push({
          name: 'home',
        });
      }
      if (this.resetUsername) {
        this.username = this.resetUsername;
      }
    },
    methods: {
      ...mapActions(['resetPassword']),
      async submit() {
        const valid = await this.$validator.validateAll();
        if (valid) {
          try {
            await this.resetPassword({
              username: this.username,
              code: this.code,
              newPassword: this.password,
            });
          } catch (error) {
            console.log(error);
          }
        }
      },
    },
  };
</script>
