<template>
  <v-container>
    <div v-if="!runningServers.length">No running servers</div>
    <v-row
      v-for="(server, serverKey) in runningServers"
      :key="serverKey+'-row'"
    >
      <v-card
        :key="serverKey+'-card'"
        :to="`panel/${server.serverId}`"
        loading
        style="width: 100%"
        class="my-1"
      >
        <template slot="progress">
          <v-progress-linear
            buffer-value="0"
            color="#60fd3e"
            stream
            reverse
          ></v-progress-linear>
        </template>
        <v-card-title>{{ `${server.serverAddress}:${server.serverPort}` }}</v-card-title>
        <v-card-subtitle>{{ gameConfigs[server.gameAbbreviation].name }}</v-card-subtitle>
        <v-card-text v-if="!!server.clientConfig">
          <span
            v-for="(setting, settingKey) in server.clientConfig.settings"
            :key="`${serverKey}-${settingKey}-card-text`"
          >
            {{ `${setting.name}: ${setting.value}` }}
            <br>
          </span>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import api from '../services/api/runningServers';
import game from '@/services/api/game';
  export default {
    name: 'RunningServers',
    data() {
      return {
        runningServers: [],
        gameConfigs: {}
      };
    },
    mounted() {
      api.getRunningServers().then((response) => {
        this.runningServers = response.data;
      });
      game.getGameConfigs().then((response) => {
        this.gameConfigs = response.data;
      });
    },
  };
</script>
