<template>
  <v-container>
    <div v-if="!saveGames.length">No saved games</div>
    <v-row
      v-for="(save, saveKey) in saveGames"
      :key="saveKey+'-row'"
    >
      <!-- TODO include more information if applicable such as map/version, server tier(points/h) etc -->
      <v-card
        :key="saveKey+'-card'"
        :loading="save.saveGameState === 'RUNNING' || save.saveGameState === 'SAVING'"
        style="width: 100%"
        class="my-1"
      >
        <template slot="progress">
          <v-progress-linear
            buffer-value="0"
            :color="save.saveGameState === 'SAVING' ? 'cyan' : '#60fd3e'"
            :stream="save.saveGameState === 'RUNNING'"
            :reverse="save.saveGameState === 'RUNNING'"
            :indeterminate="save.saveGameState === 'SAVING'"
          ></v-progress-linear>
        </template>
        <v-card-title>
          {{ gameConfigs[save.gameName].name }}
        </v-card-title>
        <v-card-subtitle v-if="save.saveGameState === 'ACTIVE'">
          Time saved: {{
            new Date(save.createdAt.epochSecond * 1000).toLocaleString() /*TODO this is not correct to user browser timezone*/
          }}
        </v-card-subtitle>
        <v-card-subtitle v-if="save.saveGameState === 'SAVING'">
          <strong>Saving in progress...</strong>
        </v-card-subtitle>
        <v-card-subtitle v-if="save.saveGameState === 'RUNNING'">
          <strong>Currently running...</strong>
        </v-card-subtitle>
        <v-card-subtitle>
          Server location: {{
            regions.regions.find(r => r.code === save.regionCode).display
          }}
        </v-card-subtitle>
        <v-card-subtitle>
          Size: {{ formatBytes(save.saveSize) }}
        </v-card-subtitle>
        <v-card-actions>
          <v-btn color="info"
                 :disabled="save.saveGameState === 'RUNNING' || save.saveGameState === 'SAVING'"
                 @click="load(save.saveGameId)">
            Load game
          </v-btn>
          <v-btn color="error"
                 :disabled="save.saveGameState === 'RUNNING' || save.saveGameState === 'SAVING'"
                 @click="saveDelete(save.saveGameId)">
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import saveGames from '../services/api/saveGames';
import game from '../services/api/game';
import config from '../config/config';

import ServerPrice from '@/components/game/ServerPrice';

export default {
  name: 'SaveGames',
  components: {ServerPrice},
  data() {
    return {
      saveGames: [],
      gameConfigs: {},
      regions: [],
    };
  },
  mounted() {
    saveGames.getSaveGames().then((response) => {
      this.saveGames = response.data;
      // TODO loop saves list and if found one with server.saveGameState === 'SAVING' call getSaveGames() again
      // TODO for example https://github.com/softonic/axios-retry with 10-60 sec retry delay
      let retries = 10;
      if (response.data.some(save => save.saveGameState === 'SAVING')) {
        let interval = setInterval(() => {
          retries--;
          saveGames.getSaveGames().then((response) => {
            this.saveGames = response.data;
            if (!response.data.some(save => save.saveGameState === 'SAVING')) {
              clearInterval(interval);
            }
          });
          if (retries <= 0) {
            clearInterval(interval);
          }
        }, 15000);
      }
    });
    game.getGameConfigs().then((response) => {
      this.gameConfigs = response.data;
    });
    game.getRegions().then((response) => {
      this.regions = response.data;
    });
  },
  methods: {
    async load(id) {
      console.log('load', id);
      await this.$dialog.confirm({
        title: 'Save file load',
        text: `Load save and start server?
        <server-price
        :config=""
        :game-name=""
      />
        `,
        // TODO show server cost
        type: 'info',
        actions: {
          true: {
            text: 'Yes',
            color: 'info',
            handle: () => {
              saveGames.loadGame(id).then((response) => {
                console.log('loadGame', response.data);
                this.$router.push(`panel/${response.data.serverId}`);
              });
            }
          },
          false: 'No',
        }
      });
    },
    async saveDelete(id) {
      await this.$dialog.error({
        title: 'Save file delete',
        text: 'Do you want to permanently delete this save?',
        actions: {
          true: {
            text: 'Yes',
            color: 'error',
            handle: () => {
              saveGames.deleteSave(id).then((response) => {
                console.log('deleteSave', response);
                if (response.status === 204) {
                  this.$dialog.notify.info('Save game deleted', {
                    position: config.notification.location,
                    timeout: config.notification.timeout
                  });
                  this.saveGames = this.saveGames.filter(save => save.saveGameId !== id);
                } else {
                  this.$dialog.notify.error('Save game delete failed', {
                    position: config.notification.location,
                    timeout: config.notification.timeout
                  });
                }
              });
            }
          },
          false: 'No',
        }
      });
    },
    formatBytes(bytes, decimals = 2) {
      if (bytes === 0) {
        return '0 Bytes';
      }

      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

      const i = Math.floor(Math.log(bytes) / Math.log(k));

      return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`;
    },
  },
};
</script>
