<template>
  <v-container>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <Heading :title="$t('signup.TITLE')"/>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col
        cols="12"
        lg="6"
      >
        <v-form @submit.prevent="submit">
          <v-container>
            <v-row>
              <v-col class="pa-3 pl-0">
                <v-text-field
                  id="firstname"
                  v-model="firstname"
                  v-validate.disable="'required'"
                  name="firstname"
                  :label="$t('signup.FIRSTNAME')"
                  :data-vv-as="$t('signup.FIRSTNAME')"
                  :error="errors.has('firstname')"
                  :error-messages="errors.collect('firstname')"
                  autocomplete="off"
                />
              </v-col>
              <v-col class="pa-3 pr-0">
                <v-text-field
                  id="lastname"
                  v-model="lastname"
                  v-validate.disable="'required'"
                  name="lastname"
                  :label="$t('signup.LASTNAME')"
                  :data-vv-as="$t('signup.LASTNAME')"
                  :error="errors.has('lastname')"
                  :error-messages="errors.collect('lastname')"
                  autocomplete="off"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-text-field
                id="email"
                v-model="email"
                v-validate.disable="'required|email'"
                name="email"
                type="email"
                :label="$t('signup.EMAIL')"
                :data-vv-as="$t('signup.EMAIL')"
                :error="errors.has('email')"
                :error-messages="errors.collect('email')"
                autocomplete="on"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="password"
                ref="password"
                v-model="password"
                v-validate.disable="'required|min:8|lowerCase|upperCase|number|special'"
                name="password"
                type="password"
                :label="$t('signup.PASSWORD')"
                :data-vv-as="$t('signup.PASSWORD')"
                :error="errors.has('password')"
                :error-messages="errors.collect('password')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <v-text-field
                id="confirmPassword"
                v-model="confirmPassword"
                v-validate.disable="'required|min:8|lowerCase|upperCase|number|special|confirmed:password'"
                name="confirmPassword"
                type="password"
                :label="$t('signup.CONFIRM_PASSWORD')"
                :data-vv-as="$t('signup.PASSWORD')"
                :error="errors.has('confirmPassword')"
                :error-messages="errors.collect('confirmPassword')"
                autocomplete="off"
              />
            </v-row>
            <v-row>
              <v-checkbox
                id="terms"
                name="terms"
                v-model="terms"
                v-validate.disable="'required'"
                :data-vv-as="$t('signup.TERMS')"
                :error="errors.has('terms')"
                :error-messages="errors.collect('terms')"
              >
                <span slot="label">
                  I agree to the
                  <span onclick="event.stopPropagation();">
                  <a href="/terms" target="_blank" style="z-index: 200">terms of service</a>
                  </span>
                  and
                  <span onclick="event.stopPropagation();"><a href="/privacy" target="_blank">privacy policy</a></span>
                </span>
              </v-checkbox>
            </v-row>
            <v-row>
              <p>By clicking "sign me up" you agree to receiving small email updates from Gamehostz.com.</p>
            </v-row>
            <v-row
              class="text-center mt-5"
            >
              <SubmitButton :text="$t('signup.SIGN_ME_UP')"/>
            </v-row>
          </v-container>
        </v-form>
      </v-col>
      <ErrorMessage/>
    </v-row>
  </v-container>
</template>

<script>
    import router from '@/router';
    import {
        mapActions,
    } from 'vuex';

    export default {
        metaInfo() {
            return {
                title: this.$store.getters.appTitle,
                titleTemplate: `${this.$t('signup.TITLE')} - %s`,
            };
        },
        data() {
            return {
                firstname: '',
                lastname: '',
                email: '',
                password: '',
                confirmPassword: '',
                terms: '',
            };
        },
        methods: {
            ...mapActions(['userSignUp']),
            async submit() {
                const valid = await this.$validator.validateAll();
                if (valid) {
                    try {
                        await this.userSignUp({
                            username: this.email,
                            password: this.password,
                            attributes: {
                                name: `${this.firstname} ${this.lastname}`,
                                email: this.email,
                            },
                        });
                    } catch (error) {
                        console.log(error);
                    }
                }
            },
        },
        created() {
            if (this.$store.state.auth.isUserLoggedIn) {
                router.push({
                    name: 'games',
                });
            }
            this.$validator.extend('upperCase', {
                getMessage: (field) => `The ${field} field must contain at least one uppercase character`,
                validate: (value) => value.match(/[A-Z]/g) !== null,
            });
            this.$validator.extend('number', {
                getMessage: (field) => `The ${field} field must contain at least one number`,
                validate: (value) => value.match(/[0-9]/g) !== null,
            });
            this.$validator.extend('lowerCase', {
                getMessage: (field) => `The ${field} field must contain at least one lowercase character`,
                validate: (value) => value.match(/[a-z]/g) !== null,
            });
            this.$validator.extend('special', {
                getMessage: (field) => `The ${field} field must contain at least one special character`,
                validate: (value) => value.match(/[\^$*.[\]{}()?\-"!@#%&/\\,><':;|_~`]/g) !== null,
            });
        },
    };
</script>
