<template>
  <v-container>
    <v-row
      class="px-3 pb-3"
      column
    >
      <Heading :title="$t('verify.TITLE')" />
      <ErrorMessage />
      <SuccessMessage />
    </v-row>
  </v-container>
</template>

<script>
  import {
    mapActions,
  } from 'vuex';

  export default {
    metaInfo() {
      return {
        title: this.$store.getters.appTitle,
        titleTemplate: `${this.$t('verify.TITLE')} - %s`,
      };
    },
    methods: {
      ...mapActions(['sendVerify']),
    },
    async mounted() {
      await this.sendVerify(this.$route.params.id);
    },
  };
</script>
