<template>
  <v-container>
    <v-progress-linear
        v-model="progress"
        color="blue-grey"
        height="25"
        striped
    >
      <template v-slot="{ value }">
        <strong v-if="progress !== 100">{{ Math.ceil(value) }}%</strong>
        <strong v-if="progress === 100">Server created</strong>
      </template>
    </v-progress-linear>
    <div v-if="timeRemaining !== 0">{{ message }} {{ secondsToHms(timeRemaining) }}</div>

  </v-container>
</template>

<script>

export default {
  name: 'LoadingBar',
  props: {
    progress: {
      type: Number,
      default() {
        return 0;
      },
    }, timeRemaining: {
      type: Number,
      default() {
        return 0;
      },
    }, message: {
      type: String,
      default() {
        return "Creating the server, estimated time remaining:";
      },
    },
  },
  methods: {
    secondsToHms(seconds) {
      if (!seconds) return '';

      let duration = seconds;
      let hours = duration / 3600;
      duration = duration % (3600);

      let min = parseInt(duration / 60);
      duration = duration % (60);

      let sec = parseInt(duration);

      if (sec < 10) {
        sec = `0${sec}`;
      }
      if (min < 10) {
        min = `0${min}`;
      }

      if (parseInt(hours, 10) > 0) {
        return `${parseInt(hours, 10)}h ${min}m ${sec}s`
      } else if (min == 0) {
        return `${sec}s`
      } else {
        return `${min}m ${sec}s`
      }
    }
  }
};
</script>
