<template>
  <v-container>
    <div class=" text-center align-center align" justify="center">
      This server costs: {{ this.serverPrice }} points per hour
    </div>
    <div class=" text-center align-center align" justify="center">
      <v-btn href="/checkout">Get more points</v-btn>
    </div>

  </v-container>
</template>

<script>

export default {
  name: "NextBilling",
  props: {
    serverPrice: {
      type: Number,
      default() {
        return 0;
      },
    },
  },
};
</script>
