<template>
  <v-container>
    <v-row>
      <v-col>
        <v-row>
          <v-col>
            <span class="headline">Message events:</span>
          </v-col>
        </v-row>
        <v-row
            dense
            class="body-2"
        >
          <v-textarea
              v-model="messageEvents"
              readonly
              no-resize
              rows="5"
              dense
              class="body-2"
          />
        </v-row>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <span class="headline">Commands:</span>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="4">
        <v-btn
            block
            color="success"
            @click.stop="start()"
        >
          Socket - start
        </v-btn>
      </v-col>
      <v-col cols="4">
        <!-- TODO on click disable the button and add loading animation as it takes 5-10 secs to actually display something in console-->
        <v-btn
            block
            color="error"
            @click.stop="stop()"
        >
          Socket - stop
        </v-btn>
      </v-col>
      <v-col cols="4">
        <v-btn
            block
            color="info"
            @click.stop="restart()"
        >
          Socket - restart
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'ServerDebugging',
  props: {
    socket: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  methods: {
    start() {
      this.socket.emit('action', {cmd: 'start'});
    },
    stop() {
      this.socket.emit('action', {cmd: 'stop'});
    },
    restart() {
      this.socket.emit('action', {cmd: 'restart'});
    },
  }
};
</script>
