<template>
  <div
      class=" text-center align-center align"
      justify="center"
  >
      <v-chip
          class="ma-2"
          color="secondary"
          label
          text-color="white"
      >

      <v-icon>mdi-cash</v-icon>

        <v-badge
            dot
            overlap
        >Hourly cost: {{ this.serverPrice }} points. First 15 minutes are free!</v-badge>
      </v-chip>
  </div>
</template>

<style>
</style>

<script>
import api from '../../services/api/game';

export default {
  name: 'ServerPrice',
  props: {
    config: {
      type: Object,
      default() {
        return {};
      },
    },
    gameName: {
      type: String,
      default() {
        return '';
      },
    },
  },
  data: () => ({
    serverPrice: null,
    maxPlayers: null,
  }),
  watch: {
    config(newVal) {
      if (newVal['main-settings'] !== undefined && (newVal['main-settings']['max-players'] !== this.maxPlayers || this.serverPrice === null)) {
        this.maxPlayers = newVal['main-settings']['max-players'];
        api.getServerPrice(this.gameName, newVal['main-settings']['max-players']).then((value) => this.serverPrice = value.data);
      }
    },
  },
};
</script>
