<template>
  <v-footer
    height="auto"
    class="mt-5 justify-center  d-block"
  >
    <section>
      <v-container>
        <v-row
          justify="center"
          class="my-12"
        >
          <v-col
            cols="12"
            sm="4"
          >
            <v-card
              flat
              class="transparent"
            >
              <v-card-title
                primary-title
                class="layout justify-center"
              >
                <div class="headline">
                  About GamehostZ
                </div>
              </v-card-title>
              <v-card-text>
                We have been providing free game server hosting since 2013 under the name Starnet.ee. This is our new and improved
                website. Join us on our journey to once again change the online gaming server business forever.
              </v-card-text>
            </v-card>
          </v-col>
          <v-col
            cols="12"
            sm="4"
            offset-sm="1"
          >
            <v-card
              flat
              class="transparent"
            >
              <v-card-title
                primary-title
                class="layout justify-center"
              >
                <div class="headline">
                  Support
                </div>
              </v-card-title>
              <v-card-text>
                Having some issues with our website?
              </v-card-text>
              <v-list class="transparent">
                <v-list-item>
                  <v-list-item-action>
                    <v-icon class="blue--text text--lighten-2">
                      mdi-discord
                    </v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>
                      <a
                        href="TODO"
                        target="_blank"
                      >Join our Discord</a>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-icon class="blue--text text--lighten-2">
                      mdi-facebook
                    </v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>
                      <a
                        href="https://www.facebook.com/Gamehostzcom-110306837057814/"
                        target="_blank"
                      >Follow us at Facebook</a>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-icon class="blue--text text--lighten-2">
                      mdi-email
                    </v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>info@gamehostz.com</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  computed: {
    appVersion() {
      return this.$store.getters.appVersion;
    },
  },
};
</script>
