<template>
  <div color="transparent"
       style="z-index: 20; background-color: transparent">
    <v-navigation-drawer
        v-model="sidebar"
        app
        disable-resize-watcher

    >
      <v-list>
        <v-list-item>
          <v-list-item-content>{{ appTitle }}</v-list-item-content>
          <v-list-item-action>
            <v-btn
                icon
                @click.stop="sidebar = !sidebar"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item
            v-for="(item, index) in visibleMenuItems"
            :key="index"
            :to="{ name: item.link }"
            exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>{{ item.title }}</v-list-item-content>
        </v-list-item>

        <v-list-group
            v-if="admin"
            prepend-icon="mdi-lock"
            no-action
        >
          <v-list-item slot="activator">
            <v-list-item-title>{{ $t('adminItems.ADMIN') }}</v-list-item-title>
          </v-list-item>
          <v-list-item
              v-for="(item, index) in adminItems"
              :key="index"
              :to="{ name: item.link }"
              exact
          >
            <v-list-item-content class="d-inline mt-3">
              <v-icon>{{ item.icon }}</v-icon>
              {{ item.title }}
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <v-list-item
            v-if="isUserLoggedIn"
            @click="userLogout"
        >
          <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            {{ $t('menuItems.LOGOUT') }}
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar flat color="transparent"
               style="z-index: 20; background-color: transparent">
      <span class="hidden-md-and-up">
        <v-app-bar-nav-icon @click="sidebar = !sidebar"/>
      </span>
      <v-toolbar-title class="headline text-uppercase ml-0">
        <div v-resize-text>
          <router-link
              v-if="isUserLoggedIn"
              :to="{ name: 'games' }"
              tag="span"
              style="cursor: pointer"
          >
            <img
                src="../../assets/logo2.png"
                alt="Vuetify.js"
                height="50"
            >
          </router-link>
          <router-link
              v-else
              :to="{ name: 'landing' }"
              tag="span"
              style="cursor: pointer"
          >
            <img
                src="../../assets/logo2.png"
                alt="Vuetify.js"
                height="50"
            >
          </router-link>
        </div>
      </v-toolbar-title>
      <v-spacer/>
      <v-toolbar-items>
        <v-btn
            v-for="(item, index) in visibleMenuItems"
            :key="index"
            text
            :to="{ name: item.link }"
            exact
            :class="['hidden-sm-and-down', item.class]"
        >
          <v-icon>{{ item.icon }}</v-icon>
          &nbsp;{{ item.title }}
        </v-btn>

        <v-menu
            v-if="admin"
            offset-y
            class="hidden-sm-and-down"
        >
          <v-btn
              slot="activator"
              text
              class="btnAdmin"
          >
            <v-icon>mdi-lock</v-icon>
            &nbsp;{{ $t('adminItems.ADMIN') }}
          </v-btn>
          <v-list>
            <v-list-item
                v-for="(item, index) in adminItems"
                :key="index"
                active-class="white--text"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
            >
              <v-list-item-title>
                <v-icon>{{ item.icon }}</v-icon>
                {{ item.title }}
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-btn
            v-if="isUserLoggedIn"
            text
            class="hidden-sm-and-down btnLogout"
            @click="userLogout"
        >
          <v-icon left>
            mdi-exit-to-app
          </v-icon>
          {{ $t('menuItems.LOGOUT') }} <!--TODO maybe possible to combine profile and logout(dropdown)-->
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import LocaleChanger from '@/components/core/LocaleChanger';
import ResizeText from 'vue-resize-text';

export default {
  name: 'Toolbar',
  metaInfo() {
    return {
      title: this.appTitle,
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  directives: {
    ResizeText,
  },
  data() {
    return {
      sidebar: false,
      balanceInterval: null,
    };
  },
  computed: {
    ...mapGetters(['appTitle', 'isUserLoggedIn', 'user', 'balance']),
    amount() {
      return this.balance.amount;
    },
    admin() {
      return this.user !== null ? this.user.role === 'admin' : false;
    },
    adminItems() {
      return [
        {
          title: this.$t('adminItems.CITIES'),
          link: 'admin-cities',
          icon: 'mdi-city',
          class: 'btnAdminCities',
        },
        {
          title: this.$t('adminItems.USERS'),
          link: 'admin-users',
          icon: 'mdi-account-supervisor',
          class: 'btnAdminUsers',
        },
      ];
    },
    menuItems() {
      if (this.isUserLoggedIn) {
        return [
          {
            title: `Points: ${this.amount}`,
            link: 'checkout',
            icon: 'mdi-coin',
            visible: true,
          },
          {
            title: this.$t('menuItems.GAMES'),
            link: 'games',
            icon: 'bubble_chart',
            visible: true,
          },
          {
            title: this.$t('menuItems.RUNNING_SERVERS'),
            link: 'running-servers',
            icon: 'dns',
            visible: true,
          },
          {
            title: this.$t('menuItems.SAVE_GAMES'),
            link: 'save-games',
            icon: 'save',
            visible: true,
          }
        ];
      }
      return [
        {
          title: this.$t('menuItems.ABOUT'),
          link: 'about',
          icon: 'mdi-help-circle-outline',
          class: 'btnAbout',
          visible: false,
        },
        {
          title: this.$t('menuItems.LOGIN'),
          link: 'login',
          icon: 'mdi-lock',
          class: 'btnLogin',
          visible: true,
        },
        {
          title: this.$t('menuItems.SIGNUP'),
          link: 'signup',
          icon: 'mdi-plus-circle-outline',
          class: 'btnLogin',
          visible: false,
        },
        {
          title: this.$t('menuItems.GAMES'),
          link: 'games',
          icon: 'bubble_chart',
          visible: false,
        },
      ];
    },
    visibleMenuItems() {
      return this.menuItems.filter((menuItem) => menuItem.visible);
    },
  },
  methods: {
    ...mapActions('cognito', ['signOut']),
    ...mapActions(['setIsUserLoggedIn', 'fetchBalance']),
    userLogout() {
      this.signOut().then(() => {
        this.setIsUserLoggedIn(false);
        this.$router.push('login');
      });
    },
    fetchLocalBalance() {
      if (this.isUserLoggedIn) {
        this.fetchBalance()
      }
    }
  },
  mounted() {
    setTimeout(this.fetchLocalBalance, 400)
    this.balanceInterval = setInterval(this.fetchLocalBalance, 5000)
  },
  destroyed() {
    clearInterval(this.balanceInterval)
  }
};
</script>
