<template><v-parallax class="my-lax"
    src="../../assets/back333.jpg"
    :height="screen"
>
<v-row
    justify="center"
>
  <v-col
      class="align-center align"
      cols="auto"
      align-self="center"
  >
    <div class="mb-2 display-2 text-xs-center font-weight-black" style="font-weight: 900;">
      When you leave we save and close the server
    </div>
    <div class="mb-2 display-1 text-xs-center font-weight-black" style="font-weight: 900;">
      restart it any time you want to continue
    </div>
  </v-col>
</v-row>
</v-parallax>
</template>

<script>

export default {
  name: 'AfterPlaying',
  data: () => ({
    screen: window.innerHeight/2,
  }),
};
</script>
<style>
.my-lax .v-parallax__content {
  height: 110%;
  background: linear-gradient(45deg, black, transparent);
}
</style>
