<template>
  <v-parallax class="my-lax"
              src="../../assets/scene34.jpg"
              :height="screen"
  >

    <v-container align-self="center"
                 class="white--text "
    >
      <v-row

      >
        <v-col
            cols="auto"
            lg="3"
            md="6"
            offset-lg="3"
            offset-md="0"
        >
          <div class="mb-2 display-1 text-xs-center font-weight-black" style="font-weight: 900;">
            On Demand Game Servers
          </div>
          <div class="mb-2 display-2 text-xs-center font-weight-black" style="">
            Sign up.
          </div>
          <div class="mb-2 display-2 text-xs-center font-weight-black" style="">
            Start a server.
          </div>
          <div class="mb-2 display-2 text-xs-center font-weight-black" style="">
            Play.
          </div>
          <div>
          </div>
        </v-col>
        <v-col
            cols="auto"
            lg="3"
            md="6"
            align-self="center"
        >
          <v-card
              class="mx-auto"
              max-width="100%"
              outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">
                  SIGN UP
                </div>
                <FacebookButton></FacebookButton>
                <EzSignUp></EzSignUp>
                <v-list-item-subtitle><p>By clicking "sign up" you agree to the
                  <span onclick="event.stopPropagation();">
                  <a href="/terms" target="_blank" style="z-index: 200">terms of service</a>
                  </span>
                  and
                  <span onclick="event.stopPropagation();"><a href="/privacy" target="_blank">privacy policy</a></span>
                </p></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col
            cols="auto"
            lg="12"
            md="12"
            sm="12"
            offset-lg="3"
            offset-md="0"
            offset-sm="0"
        >
          <div class="mb-2 display-1 text-xs-center font-weight-black" style="">
            Game servers we offer for free:

          </div>
          <v-row>
            <img
                src="../../assets/mc-grassblock.png"
                alt="Vuetify.js"
                height="50"
                class="game-pic"
                v-if="!mobile"
            >
            <div class="mb-2 display-1 text-xs-center font-weight-black" style=" word-wrap: break-word;   line-height: 51px;">
              Minecraft
            </div>
          </v-row>
          <v-row>

            <img
                src="../../assets/csgo2.png"
                alt="Vuetify.js"
                height="50"
                class="game-pic"
                v-if="!mobile"
            >
            <div class="mb-2 display-1 text-xs-center font-weight-black" style="  word-wrap: break-word; line-height: 51px;">
              Counter-Strike: Global Offensive
            </div>
          </v-row>
          <v-row>
            <img
                src="../../assets/sandstorm.png"
                alt="Vuetify.js"
                height="50"
                class="game-pic"
                v-if="!mobile"
            >
            <div class="mb-2 display-1 text-xs-center font-weight-black" style="  word-wrap: break-word;   line-height: 51px;">
              Insurgency Sandstorm
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-parallax>
</template>

<script>

import EzSignUp from "@/components/EzSignUp";
import FacebookButton from "@/components/parts/FacebookButton";

export default {
  name: 'CallToAction',
  components: {FacebookButton, EzSignUp},
  data: () => ({
    screen: window.innerHeight,
    mobile: false,
  }),
  created() {
    if (window.innerWidth < 800) {
      this.screen = "100%"
      this.mobile = true
    }
  }
};
</script>
<style>
.my-lax .v-parallax__content {
  margin-top: -60px;
  padding-top: 60px;
  height: 110%;
  background: linear-gradient(45deg, black, transparent);
}


.game-pic {
  border-radius: 200px 200px 200px 200px;
  border: 2px solid white;
  background-color: azure;
}

</style>
