<template>

  <div class=" text-center align-center align" justify="center">
    <v-btn   class="fb-signin-button" @click="signup">
      <v-icon
          medium
          color="white"
      >
        mdi-facebook
      </v-icon>
      Login with Facebook
    </v-btn>
  </div>
</template>

<style>
.fb-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #4267b2 !important;
  color: #fff;
}
</style>

<script>

import {Amplify, Auth, Hub} from "aws-amplify";
import awsauth from "./awsauth.json";
import {mapActions} from "vuex";

Amplify.configure({
  Auth: {
    userPoolId: process.env.VUE_APP_USER_POOL_ID,
    identityPoolId: process.env.VUE_APP_IDENTITY_POOL_ID,
    userPoolWebClientId: process.env.VUE_APP_CLIENT_ID,
    region: process.env.VUE_APP_REGION
  }
})
Auth.configure({ oauth: awsauth })

export default {
  name: "FacebookButton",
  created() {
    Hub.listen('auth', ({ payload: { event, data } }) => {
      switch (event) {
        case 'signIn':
        case 'cognitoHostedUI':
          this.getUser().then(userData => this.facebookLogin(userData));
          break;
        case 'signOut':
          this.userLogout()
          break;
        case 'signIn_failure':
        case 'cognitoHostedUI_failure':
          console.log('Sign in failure', data);
          break;
      }
    });

    this.getUser().then(userData => this.facebookLogin(userData));
  },
  methods: {
    ...mapActions(['facebookLogin', 'userLogout']),
    getUser() {
      return Auth.currentAuthenticatedUser()
          .then(userData => userData)
          .catch(() => console.log('Not signed in'));
    },
    signup() {
      Auth.federatedSignIn()
    }
  }
};
</script>
