<template>
  <v-card outlined class="my-lax">
    <v-container>
    <v-row justify="center" align="center">
      <v-col
          cols="auto"
      >
        <div class="text-center">
          <div class="mb-2 display-3 text-xs-center font-weight-black" style="font-weight: 900;">
            How it works?
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-container>
        <v-row align="center">
          <v-col
              cols="12"
              lg="4"
              md="6"
              offset-lg="2"
              offset-md="0"
              align="center"
          >
            <div align="center" class="mb-4 display-2 text-xs-center " style="font-weight: 700;">
              Signup
            </div>
          </v-col>
          <v-col
              cols="12"
              lg="4"
              md="6"
          >
            <v-layout>
              <v-parallax
                  src="../../assets/blob1.jpg"
                  :height="600"
                  class="blob1 blob-shad-r"
                  style="width: 100%"
                  v-bind:class="{ 'blob-r': blob1active }"
              >
              </v-parallax>
            </v-layout>
          </v-col>
        </v-row>
      </v-container>
    </v-row>
    <v-row>
      <v-container>
        <v-row align="center">
          <v-col
              :order="secondElement"
              cols="12"
              lg="4"
              md="6"
          >
            <div align="center" class="mb-4 display-2 text-xs-center " style="font-weight: 700;">
              Pick a game
            </div>
          </v-col>
          <v-col
              :order="firstElement"
              cols="12"
              lg="4"
              md="6"
              offset-lg="2"
              offset-md="0"
              align="center"
          >
            <v-layout align="center" justify="center">
              <v-parallax
                  src="../../assets/blob2.jpg"
                  :height="600"
                  class="blob2 blob-shad-l"
                  style="width: 100%"
                  v-bind:class="{ 'blob-l': blob2active }"
              >
              </v-parallax>
            </v-layout>
          </v-col>
        </v-row>
      </v-container>
    </v-row>
    <v-row>
      <v-container>
        <v-row align="center">
          <v-col
              cols="12"
              lg="4"
              md="6"
              offset-lg="2"
              offset-md="0"
              align="center"
          >
            <div align="center" class="mb-4 display-2 text-xs-center " style="font-weight: 700;">
              Create
            </div>
          </v-col>
          <v-col
              cols="12"
              lg="4"
              md="6"
          >
            <v-layout align="center" justify="center">
              <v-parallax
                  src="../../assets/blob32.jpg"
                  :height="600"
                  class="blob3 blob-shad-r"
                  style="width: 100%"
                  v-bind:class="{ 'blob-r': blob3active }"
              >
              </v-parallax>
            </v-layout>
          </v-col>
        </v-row>
      </v-container>
    </v-row>
    <v-row>
      <v-container>
        <v-row align="center">
          <v-col
              :order="secondElement"
              cols="12"
              lg="4"
              md="6"
          >
            <div align="center" class="mb-4 display-2 text-xs-center " style="font-weight: 700;">
              Play
            </div>
          </v-col>
          <v-col
              :order="firstElement"
              cols="12"
              lg="4"
              md="6"
              offset-lg="2"
              offset-md="0"
              align="center"
          >
            <v-layout align="center" justify="center">
              <v-parallax
                  src="../../assets/blob42.jpg"
                  :height="600"
                  class="blob4 blob-shad-l"
                  style="width: 100%"
                  v-bind:class="{ 'blob-l': blob4active }"
              >
              </v-parallax>
            </v-layout>
          </v-col>

        </v-row>
      </v-container>
    </v-row>
    </v-container>
  </v-card>
</template>


<style>

.my-lax {
  background: linear-gradient(-135deg, black, transparent);
}

.blob-shad-l {
  -webkit-box-shadow: -10px 20px 22px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px 20px 22px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 20px 22px 0px rgba(0, 0, 0, 0.4);
  border: 6px ridge rgba(66, 66, 66, 0.29);
  transition: transform 2s;
}

.blob-shad-r {
  -webkit-box-shadow: 11px 18px 22px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 11px 18px 22px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 11px 18px 22px 0px rgba(0, 0, 0, 0.4);
  border: 6px ridge rgba(66, 66, 66, 0.29);
  transition: transform 2s;
}

.blob-r {
  -webkit-transform: rotateX(-24deg) rotateY(-39deg) rotateZ(-13deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  -moz-transform: rotateX(-24deg) rotateY(-39deg) rotateZ(-13deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  -ms-transform: rotateX(-24deg) rotateY(-39deg) rotateZ(-13deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  -o-transform: rotateX(-24deg) rotateY(-39deg) rotateZ(-13deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  transform: rotateX(-24deg) rotateY(-39deg) rotateZ(-13deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

.blob-l {
  -webkit-transform: rotateX(33deg) rotateY(-34deg) rotateZ(15deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  -moz-transform: rotateX(33deg) rotateY(-34deg) rotateZ(15deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  -ms-transform: rotateX(33deg) rotateY(-34deg) rotateZ(15deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  -o-transform: rotateX(33deg) rotateY(-34deg) rotateZ(15deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  transform: rotateX(33deg) rotateY(-34deg) rotateZ(15deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

.blob1 {
  border-radius: 49% 35% 68% 36% / 49% 35% 68% 36%;
}

.blob2 {
  border-radius: 66% 92% 68% 73% / 66% 92% 68% 73%;
}

.blob3 {
  border-radius: 72% 67% 88% 60% / 72% 67% 88% 60%;
}

.blob4 {
  border-radius: 38% 38% 34% 60% / 38% 38% 34% 60%;
}
</style>

<script>

export default {
  name: 'HowItWorks',
  data() {
    return {
      blob1active: false,
      blob2active: false,
      blob3active: false,
      blob4active: false,
      screen: window.innerHeight,
    };
  },
  computed: {
    firstElement () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 2
        case 'sm': return 2
        case 'md': return 1
        case 'lg': return 1
        case 'xl': return 1
      }
    },
    secondElement () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 1
        case 'sm': return 1
        case 'md': return 2
        case 'lg': return 2
        case 'xl': return 2
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll(event) {

      if (window.scrollY > screen.height/1.5 + screen.height) {
        this.blob4active = true;
        this.blob3active = false;
        this.blob2active = false;
      } else if (window.scrollY > screen.height/1.5 + screen.height/2) {
        this.blob3active = true;
        this.blob1active = false;
      } else if (window.scrollY > screen.height/1.5 + screen.height/3) {
        this.blob2active = true;
      } else if (window.scrollY > screen.height/2) {
        this.blob1active = true;
      } else if (window.scrollY < screen.height) {
        this.blob1active = false;
        this.blob2active = false;
        this.blob3active = false;
        this.blob4active = false;
      }
    }
  },
};
</script>

<!--<script>
import api from "@/services/api/game";
import GameConfig from "@/components/GameConfig";

export default {
  components: {GameConfig},
  data() {
    return {
      activeConfig: null,
      activeGameKey: null,
      activeAbbreviation: null,
      gameInfo: null,
    };
  },
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('about.TITLE')} - %s`,
    };
  },
  mounted() {
    api.getGameConfigs().then((response) => {
      console.log(response.data);
      this.activeGameKey = "mc";
      this.activeAbbreviation = response.data["mc"].abbreviation;
      this.gameInfo = response.data["mc"];
      this.activeConfig = response.data["mc"].config;
    });
  },
};
</script>-->
