<template>
  <v-app>
    <toolbar app flat fixed       app color="transparent"
             prominent style="z-index: 20; background-color: transparent"  />
    <v-content class="pa-0">
      <loading />
      <transition
        name="fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </v-content>
    <cookie-law theme="dark-lime"></cookie-law>
    <Footer />
  </v-app>
</template>

<script>
  import Toolbar from '@/components/core/Toolbar.vue';
  import Loading from '@/components/core/Loading.vue';
  import Footer from '@/components/core/Footer.vue';
  import CookieLaw from 'vue-cookie-law'

  export default {
    name: 'App',
    metaInfo() {
      return {
        title: this.appTitle,
        htmlAttrs: {
          lang: this.$i18n.locale,
        },
        meta: [
          {
            name: 'msapplication-TileColor',
            content: '#00eafd',
          },
          {
            name: 'theme-color',
            content: '#ffffff',
          },
          {
            name: 'apple-mobile-web-app-title',
            content: this.appTitle,
          },
          {
            name: 'application-name',
            content: this.appTitle,
          },
        ],
        link: [
          {
            rel: 'apple-touch-icon',
            sizes: '180x180',
            href: '/apple-touch-icon.png',
          },
          {
            rel: 'icon',
            type: 'image/png',
            sizes: '32x32',
            href: '/favicon-32x32.png',
          },
          {
            rel: 'icon',
            type: 'image/png',
            sizes: '16x16',
            href: '/favicon-16x16.png',
          },
          {
            rel: 'manifest',
            href: '/site.webmanifest',
          },
          {
            rel: 'mask-icon',
            color: '#5bbad5',
            href: '/safari-pinned-tab.svg',
          },
          {
            rel: 'favicon',
            href: '/favicon.ico',
          },
        ],
      };
    },
    components: {
        Footer,
      Toolbar,
      Loading,
        CookieLaw
    },
    computed: {
      appTitle() {
        return this.$store.getters.appTitle;
      },
    },

  };
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
